html {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}

body {
    margin: 0;
    background-image: linear-gradient(to right, #89b0ae, #c9ada7);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a,

a:focus {
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
    padding: 0 50px;
}

.sub-navbar {
    width: 40%;
    justify-content: space-around;
}

.active {
    text-decoration: underline;
    text-underline-offset: 10px;
    color: #fff;
}

li {
    list-style: none;
}

.nav-li {

    margin-left: 1rem;
    margin-right: 1rem;
}

a:hover {
    color: white;
}

.logo {
    padding-left: 4rem;

}

.container-centered {
    border-radius: 25px;
    width: 500px;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 25px 0;
    text-align: center;
    background-color: #063970;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
}

.form-display {
    display: flex;
    align-items: center;
}

.separator {
    border-left: 1px solid #000;
    height: 25px;
}

.report-missing-child {
    border: none;
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    animation: pulsateRed 5s infinite;
    color: rgb(243, 32, 19);
    margin: 75px auto;
    height: fit-content;
}

@keyframes pulsateRed {
    0% {
        box-shadow: 0px 0px 17px 6px rgb(207 181 186)
    }

    50% {
        box-shadow: 0px 0px 17px 6px #ffe
    }

    100% {
        box-shadow: 0px 0px 17px 6px rgb(207 181 186)
    }
}

.missing-items {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.report {
    color: #ffe;
}

.red {
    color: rgb(243, 32, 19);
}

.status-card-grid {
    display: grid;
    grid-template-columns: 200px 375px;
    align-items: center;
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    text-align: center;
    background-color: #F1FAEE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
}

.lost-child-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
    margin-bottom: 25px;
}

.matched-child-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 30px;
}




.flex-space-between {
    justify-content: space-between;
    margin: 10px;
}

.status {
    margin: auto;
    width: 50%;
}

.report-data-entry {
    display: inline-grid;
}

.report-data-entry input {
    border: none;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
}



.mainMenu {
    display: flex;
    justify-content: space-around;
}

.give-margins>* {
    margin: 25px;
}

Circles {
    display: none;
}


.close-modal-x {
    position: absolute;
    right: 0;
    top: 0;
    margin: 8px;
    cursor: pointer;
}

.close-modal-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 8px;
    cursor: pointer;
}

.row:hover {
    background-color: #aaa;
}

.found-child-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-right: 10px;
}

.suggestion-item {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 10px;
}

.matched-name {
    text-align: center;
}

/*
styling for selected image
*/
.container {
    position: relative;
}

#status-card-img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background-color: #fafafa;
}

.selected {
    opacity: 0.3;

}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.found-options-container {
    width: 50%;
    margin: 7% auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.found-options {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 5px;
    padding: 15px;
    background-color: #FFFBFF;
    height: 396px;
    justify-content: space-around;
}

.bg-main-menu-card {
    background-color: #fff;
    position: sticky;
}

.found-button {
    all: unset;
    cursor: pointer;
    font-size: 26px;
    padding: 5px 15px;
    margin: 30px 15px;
}

.found-button:hover {
    padding: 5px 15px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options-title {
    margin: 3px;
}




/*
NEW START
*/

.card-title {
    text-align: center;
    overflow-Y: auto;
    height: 20%;
    font-weight: bold;
    font-size: 2vw;
}

.clickable {
    all: unset;
    cursor: pointer;
    text-align: center;
    padding: 5px 15px;
    margin: 30px 15px;
    font-weight: bold;
    font-size: 2vw;
}

.clickable:hover {
    padding: 5px 15px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.flex {
    display: flex;
    align-items: center;
}
.important{
    color: red;
    cursor: pointer;
    font-weight: bold;
}
.big-gap {
    gap: 45px;
}