html {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}

body {
    margin: 0
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a {
    text-decoration: none;
}

.nav-li {
    list-style: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

.logo {
    padding-left: 2rem;
}

.container-centered {
    border-radius: 25px;
    width: 500px;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 25px 0;
    text-align: center;
    background-color: #063970;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
}

.form-display {
    display: flex;
    align-items: center;
}

.separator {
    border-left: 1px solid #000;
    height: 25px;
}

.report-missing-child {
    border: none;
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    animation: pulsateRed 5s infinite;
    color: rgb(243, 32, 19);
    margin: 75px auto;
    height: fit-content;
}

@keyframes pulsateRed {
    0% {
        box-shadow: 0px 0px 17px 6px rgb(207 181 186)
    }

    50% {
        box-shadow: 0px 0px 17px 6px #ffe
    }

    100% {
        box-shadow: 0px 0px 17px 6px rgb(207 181 186)
    }
}

.missing-items {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.redColor {
    color: #ffe;
}

.status-card-grid {
    display: grid;
    grid-template-columns: 200px 375px;
    align-items: center;
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    text-align: center;
    background-color: #F1FAEE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
}

.lost-child-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
}

.flex {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.flex-space-between {
    justify-content: space-between;
    margin: 10px;
}

.status {
    margin: auto;
    width: 50%;
}

.report-data-entry {
    display: inline-grid;
}

.report-data-entry input {
    border: none;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
}



.request-loader {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    margin: 75px auto;
}

.request-loader span {
    position: relative;
    font-size: 72px;

}

.request-loader::after {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    left: -8px;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    border: 8px solid rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    animation-name: ripple;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    z-index: -1;
}

.request-loader::before {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    left: -8px;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    border: 8px solid rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    animation-name: ripple;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    z-index: -1;
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale3d(0.75, 0.75, 1);
    }

    to {
        opacity: 0;
        transform: scale3d(1.5, 1.5, 1);
    }
}

.mainMenu {
    display: flex;
    justify-content: space-around;
}

.give-margins>* {
    margin: 25px;
}

Circles {
    display: none;
}

#status-card-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-color: #fafafa;
}

.close-modal-x {
    position: absolute;
    right: 0;
    top: 0;
    margin: 8px;
    cursor: pointer;
}
.close-modal-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 8px;
    cursor: pointer;
}
.row:hover {
    background-color: #aaa;
}

.found-child-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-right: 10px;
}