html{
    background-color: #f7f7f7;
    font-family: 'Roboto Mono', monospace;
    font-size:18px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F1FAEE;
    border-radius: 25px;
    margin-bottom: 50px;
}
ul{
    display: flex;
    padding-right:1rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    margin-left: 1rem;
    margin-right: 1rem;
}
.logo{
    padding-left: 2rem;
}
.container-centered{
    border-radius: 25px;
    width: 500px;
    height:fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 25px 0;
    text-align: center;
    background-color:#F1FAEE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:20px;
}


.separator{
    border-left:1px solid #000;
    height:25px;
}
.report-missing-child{
    border:none;
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    animation: pulsateRed 5s infinite;
    color: rgb(243, 32, 19);
    margin: 50px auto;

}
@keyframes pulsateRed {
    0% {box-shadow: 0px 0px 17px 6px rgb(207 181 186)}
    50% {box-shadow: 0px 0px 17px 6px rgb(243, 32, 19)}
    100% {box-shadow: 0px 0px 17px 6px rgb(207 181 186)}
  }

.missing-items{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}
.redColor{
    color: rgb(243, 32, 19);
}
.status-card-grid{
    display: grid;
    grid-template-columns: 100px 300px 100px;
    align-items: center;
    border-radius: 25px;
    width: 500px;
    height:fit-content;
    padding: 25px 0;
    text-align: center;
    background-color:#F1FAEE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:20px;
}
.lost-child-img{
    width:100px;
    height: 100px;
    object-fit:scale-down;
}
.flex{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.status{
    margin: auto;
    width: 50%;
}